.*
*.o
*.so
*.exe
*.dll
perf*

firmware/build
gui/imgui.ini
gui/stmdspgui
gui/stmdspgui.exe
hardware/fp-info-cache
hardware/*-backups
hardware/*.kicad_prl
hardware/*.csv
hardware/*.gbl
hardware/*.gbs
hardware/*.gbp
hardware/*.gbo
hardware/*.gm1
hardware/*.gtl
hardware/*.gts
hardware/*.gtp
hardware/*.gto
hardware/*.drl
hardware/*.zip
